<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fleet.provider.sys.dao.MsgToDao">
    <resultMap id="BaseResultMap" type="com.fleet.common.entity.msg.MsgTo">
        <result column="msg_id" property="msgId"/>
        <result column="msg_to" property="msgTo"/>
        <result column="read_state" property="readState"/>
        <result column="read_time" property="readTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
		`msg_id`, `msg_to`, `read_state`, `read_time`, `deleted`
	</sql>

    <insert id="insert" parameterType="com.fleet.common.entity.msg.MsgTo">
		insert into `user_role`(`msg_id`, `msg_to`, `read_state`, `read_time`, `deleted`) values (#{msgId}, #{msgTo}, #{readState}, #{readTime}, #{deleted})
		ON DUPLICATE KEY UPDATE msg_id = #{msgId}, msg_to = #{msgTo}, read_state = #{readState}, read_time = #{readTime}, deleted = #{deleted}
	</insert>

    <update id="delete" parameterType="com.fleet.common.entity.msg.MsgTo">
        update `user_role` set `deleted` = 1
        <where>
            <if test="msgId != null">and msg_id = #{msgId}</if>
            <if test="msgTo != null">and `msg_to` = #{msgTo}</if>
            <if test="readState != null">and `read_state` = #{readState}</if>
            <if test="readTime != null">and `read_time` = #{readTime}</if>
        </where>
    </update>

    <update id="update" parameterType="com.fleet.common.entity.msg.MsgTo">
		insert into `user_role`(`msg_id`, `msg_to`, `read_state`, `read_time`, `deleted`) values (#{msgId}, #{msgTo}, #{readState}, #{readTime}, #{deleted})
		ON DUPLICATE KEY UPDATE msg_id = #{msgId}, msg_to = #{msgTo}, read_state = #{readState}, read_time = #{readTime}, deleted = #{deleted}
	</update>

    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user_role`
        <where>
            <if test="msgId != null">and msg_id = #{msgId}</if>
            <if test="msgTo != null">and `msg_to` = #{msgTo}</if>
            <if test="readState != null">and `read_state` = #{readState}</if>
            <if test="readTime != null">and `read_time` = #{readTime}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
        </where>
        limit 1
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user_role`
        <where>
            <if test="msgId != null">and msg_id = #{msgId}</if>
            <if test="msgTo != null">and `msg_to` = #{msgTo}</if>
            <if test="readState != null">and `read_state` = #{readState}</if>
            <if test="readTime != null">and `read_time` = #{readTime}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
        </where>
    </select>
</mapper>
