<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fleet.provider.admin.dao.DeptDao">
    <resultMap id="BaseResultMap" type="com.fleet.common.entity.dept.Dept">
        <id column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
        <result column="dept_state" property="deptState"/>
        <result column="sort_value" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="edit_time" property="editTime"/>
        <result column="upper_id" property="upperId"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
		`dept_id`, `dept_name`, `dept_state`, `sort_value`, create_time, edit_time, upper_id, `deleted`
	</sql>

    <insert id="insert" parameterType="com.fleet.common.entity.dept.Dept" useGeneratedKeys="true" keyProperty="deptId">
        insert into `dept` (
        <trim suffixOverrides=",">
            <if test="deptName != null">`dept_name`,</if>
            <if test="deptState != null">`dept_state`,</if>
            <if test="sort != null">`sort_value`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="editTime != null">`edit_time`,</if>
            <if test="upperId != null">`upper_id`,</if>
            <if test="deleted != null">`deleted`,</if>
        </trim>
        ) values (
        <trim suffixOverrides=",">
            <if test="deptName != null">#{deptName},</if>
            <if test="deptState != null">#{deptState},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="editTime != null">#{editTime},</if>
            <if test="upperId != null">#{upperId},</if>
            <if test="deleted != null">#{deleted},</if>
        </trim>
        )
    </insert>

    <delete id="delete" parameterType="com.fleet.common.entity.dept.Dept">
        update `dept` set `deleted` = 1
        <where>
            <if test="deptId != null">and `dept_id` = #{deptId}</if>
            <if test="deptName != null">and `dept_name` = #{deptName}</if>
            <if test="deptState != null">and `dept_state` = #{deptState}</if>
            <if test="sort != null">and `sort_value` = #{sort}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
        </where>
    </delete>

    <update id="update" parameterType="com.fleet.common.entity.dept.Dept">
        update `dept`
        <set>
            <if test="deptName != null">`dept_name` = #{deptName},</if>
            <if test="deptState != null">`dept_state` = #{deptState},</if>
            <if test="sort != null">`sort_value` = #{sort},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="editTime != null">`edit_time` = #{editTime},</if>
            <if test="upperId != null">`upper_id` = #{upperId},</if>
            <if test="deleted != null">`deleted` = #{deleted},</if>
        </set>
        where dept_id = #{deptId}
    </update>

    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `dept`
        <where>
            <if test="deptId != null">and `dept_id` = #{deptId}</if>
            <if test="deptName != null">and `dept_name` = #{deptName}</if>
            <if test="deptState != null">and `dept_state` = #{deptState}</if>
            <if test="sort != null">and `sort_value` = #{sort}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
        limit 1
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `dept`
        <where>
            <if test="deptId != null">and `dept_id` = #{deptId}</if>
            <if test="deptName != null">and `dept_name` like CONCAT('%',#{deptName},'%')</if>
            <if test="deptState != null">and `dept_state` = #{deptState}</if>
            <if test="sort != null">and `sort_value` = #{sort}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
    </select>

    <select id="deptIdList" resultType="java.lang.Integer">
        select `dept_id` from `dept`
        <where>
            <if test="deptId != null">and `dept_id` = #{deptId}</if>
            <if test="deptName != null">and `dept_name` = #{deptName}</if>
            <if test="deptState != null">and `dept_state` = #{deptState}</if>
            <if test="sort != null">and `sort_value` = #{sort}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
    </select>
</mapper>

