<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fleet.provider.admin.dao.JobDao">
    <resultMap id="BaseResultMap" type="com.fleet.common.entity.job.Job">
        <id column="job_id" property="jobId"/>
        <result column="job_name" property="jobName"/>
        <result column="job_state" property="jobState"/>
        <result column="sort_value" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="edit_time" property="editTime"/>
        <result column="upper_id" property="upperId"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
		`job_id`, `job_name`, `job_state`, `sort_value`, create_time, edit_time, upper_id, `deleted`
	</sql>

    <insert id="insert" parameterType="com.fleet.common.entity.job.Job" useGeneratedKeys="true" keyProperty="jobId">
        insert into `job` (
        <trim suffixOverrides=",">
            <if test="jobName != null">`job_name`,</if>
            <if test="jobState != null">`job_state`,</if>
            <if test="sort != null">`sort_value`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="editTime != null">`edit_time`,</if>
            <if test="upperId != null">`upper_id`,</if>
            <if test="deleted != null">`deleted`,</if>
        </trim>
        ) values (
        <trim suffixOverrides=",">
            <if test="jobName != null">#{jobName},</if>
            <if test="jobState != null">#{jobState},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="editTime != null">#{editTime},</if>
            <if test="upperId != null">#{upperId},</if>
            <if test="deleted != null">#{deleted},</if>
        </trim>
        )
    </insert>

    <update id="delete" parameterType="com.fleet.common.entity.job.Job">
        update `job` set `deleted` = 1
        <where>
            <if test="jobId != null">and `job_id` = #{jobId}</if>
            <if test="jobName != null">and `job_name` = #{jobName}</if>
            <if test="jobState != null">and `job_state` = #{jobState}</if>
            <if test="sort != null">and `sort_value` = #{sort}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
        </where>
    </update>

    <update id="update" parameterType="com.fleet.common.entity.job.Job">
        update `job`
        <set>
            <if test="jobName != null">`job_name` = #{jobName},</if>
            <if test="jobState != null">`job_state` = #{jobState},</if>
            <if test="sort != null">`sort_value` = #{sort},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="editTime != null">`edit_time` = #{editTime},</if>
            <if test="upperId != null">`upper_id` = #{upperId},</if>
            <if test="deleted != null">`deleted` = #{deleted},</if>
        </set>
        where job_id = #{jobId}
    </update>

    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `job`
        <where>
            <if test="jobId != null">and `job_id` = #{jobId}</if>
            <if test="jobName != null">and `job_name` = #{jobName}</if>
            <if test="jobState != null">and `job_state` = #{jobState}</if>
            <if test="sort != null">and `sort_value` = #{sort}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
        limit 1
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `job`
        <where>
            <if test="jobId != null">and `job_id` = #{jobId}</if>
            <if test="jobName != null">and `job_name` = #{jobName}</if>
            <if test="jobState != null">and `job_state` = #{jobState}</if>
            <if test="sort != null">and `sort_value` = #{sort}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
    </select>

    <select id="jobIdList" resultType="java.lang.Integer">
        select `job_id` from `job`
        <where>
            <if test="jobId != null">and `job_id` = #{jobId}</if>
            <if test="jobName != null">and `job_name` = #{jobName}</if>
            <if test="jobState != null">and `job_state` = #{jobState}</if>
            <if test="sort != null">and `sort_value` = #{sort}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
    </select>

    <select id="listById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select d.`job_id`, d.`job_name`, d.`job_state`, d.`sort_value`, d.create_time, d.edit_time, d.upper_id, d.`deleted` from `user_job` as ud left join `job` as d on ud.job_id = d.job_id
		where ud.deleted = 0 and d.deleted = 0 and ud.user_id = #{id};
	</select>
</mapper>

