<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fleet.provider.admin.dao.MailGroupDao">
    <resultMap id="BaseResultMap" type="com.fleet.common.entity.mail.MailGroup">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="tos" property="tos"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
		`id`, `name`, `tos`, `deleted`
	</sql>

    <insert id="insert" parameterType="com.fleet.common.entity.mail.MailGroup" useGeneratedKeys="true"
            keyProperty="id">
        insert into `mail_group` (
        <trim suffixOverrides=",">
            <if test="name != null">`name`,</if>
            <if test="tos != null">`tos`,</if>
            <if test="deleted != null">`deleted`,</if>
        </trim>
        ) values (
        <trim suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="tos != null">#{tos},</if>
            <if test="deleted != null">#{deleted},</if>
        </trim>
        )
    </insert>

    <update id="delete" parameterType="com.fleet.common.entity.mail.MailGroup">
        update `mail_group` set `deleted` = 1
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="name != null">and `name` = #{name}</if>
            <if test="tos != null">and `tos` = #{tos}</if>
            and `deleted` = 0
        </where>
    </update>

    <update id="deletes">
        update `mail_group` set `deleted` = 1
        <where>
            <foreach collection="array" item="id" open="`id` in (" separator="," close=")">
                #{id}
            </foreach>
            and `deleted` = 0
        </where>
    </update>

    <update id="update" parameterType="com.fleet.common.entity.mail.MailGroup">
        update `mail_group`
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="tos != null">`tos` = #{tos},</if>
            <if test="deleted != null">`deleted` = #{deleted},</if>
        </set>
        where id = #{id}
    </update>

    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `mail_group`
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="name != null">and `name` = #{name}</if>
            <if test="tos != null">and `tos` = #{tos}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
        limit 1
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `mail_group`
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="name != null">and `name` = #{name}</if>
            <if test="tos != null">and `tos` = #{tos}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
    </select>
</mapper>
