<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fleet.provider.admin.dao.MenuDao">
    <resultMap id="BaseResultMap" type="com.fleet.common.entity.menu.Menu">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="desc" property="desc"/>
        <result column="href" property="href"/>
        <result column="target" property="target"/>
        <result column="permit" property="permit"/>
        <result column="sort" property="sort"/>
        <result column="opened" property="opened"/>
        <result column="enabled" property="enabled"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="editor_id" property="editorId"/>
        <result column="edit_time" property="editTime"/>
        <result column="upper_id" property="upperId"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
		`id`, `type`, `name`, `icon`, `desc`, `href`, `target`, `permit`, `sort`, `opened`, `enabled`, `creator_id`, `create_time`, `editor_id`, `edit_time`, `upper_id`, `deleted`
	</sql>

    <insert id="insert" parameterType="com.fleet.common.entity.menu.Menu" useGeneratedKeys="true" keyProperty="id">
        insert into `menu` (
        <trim suffixOverrides=",">
            <if test="type != null">`type`,</if>
            <if test="name != null">`name`,</if>
            <if test="icon != null">`icon`,</if>
            <if test="desc != null">`desc`,</if>
            <if test="href != null">`href`,</if>
            <if test="target != null">`target`,</if>
            <if test="permit != null">`permit`,</if>
            <if test="sort != null">`sort`,</if>
            <if test="opened != null">`opened`,</if>
            <if test="enabled != null">`enabled`,</if>
            <if test="creatorId != null">`creator_id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="editorId != null">`editor_id`,</if>
            <if test="editTime != null">`edit_time`,</if>
            <if test="upperId != null">`upper_id`,</if>
            <if test="deleted != null">`deleted`,</if>
        </trim>
        ) values (
        <trim suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="name != null">#{name},</if>
            <if test="icon != null">#{icon},</if>
            <if test="desc != null">#{desc},</if>
            <if test="href != null">#{href},</if>
            <if test="target != null">#{target},</if>
            <if test="permit != null">#{permit},</if>
            <if test="sort != null">#{sort},</if>
            <if test="opened != null">#{opened},</if>
            <if test="enabled != null">#{enabled},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="editorId != null">#{editorId},</if>
            <if test="editTime != null">#{editTime},</if>
            <if test="upperId != null">#{upperId},</if>
            <if test="deleted != null">#{deleted},</if>
        </trim>
        )
    </insert>

    <update id="delete" parameterType="com.fleet.common.entity.menu.Menu">
        update `menu` set `deleted` = 1
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="type != null">and `type` = #{type}</if>
            <if test="name != null">and `name` = #{name}</if>
            <if test="icon != null">and `icon` = #{icon}</if>
            <if test="desc != null">and `desc` = #{desc}</if>
            <if test="href != null">and `href` = #{href}</if>
            <if test="target != null">and `target` = #{target}</if>
            <if test="permit != null">and `permit` = #{permit}</if>
            <if test="sort != null">and `sort` = #{sort}</if>
            <if test="opened != null">and `opened` = #{opened}</if>
            <if test="enabled != null">and `enabled` = #{enabled}</if>
            <if test="creatorId != null">and `creator_id` = #{creatorId}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editorId != null">and `editor_id` = #{editorId}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
            and `deleted` = 0
        </where>
    </update>

    <update id="deletes">
        update `menu` set `deleted` = 1
        <where>
            <foreach collection="array" item="id" open="`id` in (" separator="," close=")">
                #{id}
            </foreach>
            and `deleted` = 0
        </where>
    </update>

    <update id="update" parameterType="com.fleet.common.entity.menu.Menu">
        update `menu`
        <set>
            <if test="type != null">`type` = #{type},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="icon != null">`icon` = #{icon},</if>
            <if test="desc != null">`desc` = #{desc},</if>
            <if test="href != null">`href` = #{href},</if>
            <if test="target != null">`target` = #{target},</if>
            <if test="permit != null">`permit` = #{permit},</if>
            <if test="sort != null">`sort` = #{sort},</if>
            <if test="enabled != null">`enabled` = #{enabled},</if>
            <if test="creatorId != null">`creator_id` = #{creatorId},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="editorId != null">and `editor_id` = #{editorId}</if>
            <if test="editTime != null">`edit_time` = #{editTime},</if>
            <if test="upperId != null">`upper_id` = #{upperId},</if>
            <if test="deleted != null">`deleted` = #{deleted},</if>
        </set>
        where id = #{id}
    </update>

    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `menu`
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="type != null">and `type` = #{type}</if>
            <if test="name != null">and `name` = #{name}</if>
            <if test="icon != null">and `icon` = #{icon}</if>
            <if test="desc != null">and `desc` = #{desc}</if>
            <if test="href != null">and `href` = #{href}</if>
            <if test="target != null">and `target` = #{target}</if>
            <if test="permit != null">and `permit` = #{permit}</if>
            <if test="sort != null">and `sort` = #{sort}</if>
            <if test="opened != null">and `opened` = #{opened}</if>
            <if test="enabled != null">and `enabled` = #{enabled}</if>
            <if test="creatorId != null">and `creator_id` = #{creatorId}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editorId != null">and `editor_id` = #{editorId}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
        limit 1
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `menu`
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="type != null">and `type` = #{type}</if>
            <if test="name != null">and `name` = #{name}</if>
            <if test="icon != null">and `icon` = #{icon}</if>
            <if test="desc != null">and `desc` = #{desc}</if>
            <if test="href != null">and `href` = #{href}</if>
            <if test="target != null">and `target` = #{target}</if>
            <if test="permit != null">and `permit` = #{permit}</if>
            <if test="sort != null">and `sort` = #{sort}</if>
            <if test="opened != null">and `opened` = #{opened}</if>
            <if test="enabled != null">and `enabled` = #{enabled}</if>
            <if test="creatorId != null">and `creator_id` = #{creatorId}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editorId != null">and `editor_id` = #{editorId}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
    </select>

    <select id="idList" resultType="java.lang.Long">
        select `id` from `menu`
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="type != null">and `type` = #{type}</if>
            <if test="name != null">and `name` = #{name}</if>
            <if test="icon != null">and `icon` = #{icon}</if>
            <if test="desc != null">and `desc` = #{desc}</if>
            <if test="href != null">and `href` = #{href}</if>
            <if test="target != null">and `target` = #{target}</if>
            <if test="permit != null">and `permit` = #{permit}</if>
            <if test="sort != null">and `sort` = #{sort}</if>
            <if test="opened != null">and `opened` = #{opened}</if>
            <if test="enabled != null">and `enabled` = #{enabled}</if>
            <if test="creatorId != null">and `creator_id` = #{creatorId}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editorId != null">and `editor_id` = #{editorId}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
    </select>
</mapper>
