<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fleet.provider.admin.dao.MenuDao">
    <resultMap id="BaseResultMap" type="com.fleet.common.entity.menu.Menu">
        <id column="menu_id" property="menuId"/>
        <result column="menu_type" property="menuType"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_icon" property="menuIcon"/>
        <result column="menu_desc" property="menuDesc"/>
        <result column="href" property="href"/>
        <result column="target" property="target"/>
        <result column="permit" property="permit"/>
        <result column="sort_value" property="sortValue"/>
        <result column="opened" property="opened"/>
        <result column="enabled" property="enabled"/>
        <result column="create_time" property="createTime"/>
        <result column="edit_time" property="editTime"/>
        <result column="upper_id" property="upperId"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
		`menu_id`, `menu_type`, `menu_name`, `menu_icon`, `menu_desc`, `href`, `target`, `permit`, `sort_value`, `opened`, enabled, create_time, edit_time, upper_id, `deleted`
	</sql>

    <insert id="insert" parameterType="com.fleet.common.entity.menu.Menu" useGeneratedKeys="true" keyProperty="menuId">
        insert into `menu` (
        <trim suffixOverrides=",">
            <if test="menuType != null">`menu_type`,</if>
            <if test="menuName != null">`menu_name`,</if>
            <if test="menuIcon != null">`menu_icon`,</if>
            <if test="menuDesc != null">`menu_desc`,</if>
            <if test="href != null">`href`,</if>
            <if test="target != null">`target`,</if>
            <if test="permit != null">`permit`,</if>
            <if test="sortValue != null">`sort_value`,</if>
            <if test="opened != null">`opened`,</if>
            <if test="enabled != null">`enabled`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="editTime != null">`edit_time`,</if>
            <if test="upperId != null">`upper_id`,</if>
            <if test="deleted != null">`deleted`,</if>
        </trim>
        ) values (
        <trim suffixOverrides=",">
            <if test="menuType != null">#{menuType},</if>
            <if test="menuName != null">#{menuName},</if>
            <if test="menuIcon != null">#{menuIcon},</if>
            <if test="menuDesc != null">#{menuDesc},</if>
            <if test="href != null">#{href},</if>
            <if test="target != null">#{target},</if>
            <if test="permit != null">#{permit},</if>
            <if test="sortValue != null">#{sortValue},</if>
            <if test="opened != null">#{opened},</if>
            <if test="enabled != null">#{enabled},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="editTime != null">#{editTime},</if>
            <if test="upperId != null">#{upperId},</if>
            <if test="deleted != null">#{deleted},</if>
        </trim>
        )
    </insert>

    <update id="delete" parameterType="com.fleet.common.entity.menu.Menu">
        update `menu` set `deleted` = 1
        <where>
            <if test="menuId != null">and `menu_id` = #{menuId}</if>
            <if test="menuType != null">and `menu_type` = #{menuType}</if>
            <if test="menuName != null">and `menu_name` = #{menuName}</if>
            <if test="menuIcon != null">and `menu_icon` = #{menuIcon}</if>
            <if test="menuDesc != null">and `menu_desc` = #{menuDesc}</if>
            <if test="href != null">and `href` = #{href}</if>
            <if test="target != null">and `target` = #{target}</if>
            <if test="permit != null">and `permit` = #{permit}</if>
            <if test="sortValue != null">and `sort_value` = #{sortValue}</if>
            <if test="opened != null">and `opened` = #{opened}</if>
            <if test="enabled != null">and `enabled` = #{enabled}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
        </where>
    </update>

    <update id="update" parameterType="com.fleet.common.entity.menu.Menu">
        update `menu`
        <set>
            <if test="menuType != null">`menu_type` = #{menuType},</if>
            <if test="menuName != null">`menu_name` = #{menuName},</if>
            <if test="menuIcon != null">`menu_icon` = #{menuIcon},</if>
            <if test="menuDesc != null">`menu_desc` = #{menuDesc},</if>
            <if test="href != null">`href` = #{href},</if>
            <if test="target != null">`target` = #{target},</if>
            <if test="permit != null">`permit` = #{permit},</if>
            <if test="sortValue != null">`sort_value` = #{sortValue},</if>
            <if test="enabled != null">`enabled` = #{enabled},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="editTime != null">`edit_time` = #{editTime},</if>
            <if test="upperId != null">`upper_id` = #{upperId},</if>
            <if test="deleted != null">`deleted` = #{deleted},</if>
        </set>
        where menu_id = #{menuId}
    </update>

    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `menu`
        <where>
            <if test="menuId != null">and `menu_id` = #{menuId}</if>
            <if test="menuType != null">and `menu_type` = #{menuType}</if>
            <if test="menuName != null">and `menu_name` = #{menuName}</if>
            <if test="menuIcon != null">and `menu_icon` = #{menuIcon}</if>
            <if test="menuDesc != null">and `menu_desc` = #{menuDesc}</if>
            <if test="href != null">and `href` = #{href}</if>
            <if test="target != null">and `target` = #{target}</if>
            <if test="permit != null">and `permit` = #{permit}</if>
            <if test="sortValue != null">and `sort_value` = #{sortValue}</if>
            <if test="opened != null">and `opened` = #{opened}</if>
            <if test="enabled != null">and `enabled` = #{enabled}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
        limit 1
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `menu`
        <where>
            <if test="menuId != null">and `menu_id` = #{menuId}</if>
            <if test="menuType != null">and `menu_type` = #{menuType}</if>
            <if test="menuName != null">and `menu_name` = #{menuName}</if>
            <if test="menuIcon != null">and `menu_icon` = #{menuIcon}</if>
            <if test="menuDesc != null">and `menu_desc` = #{menuDesc}</if>
            <if test="href != null">and `href` = #{href}</if>
            <if test="target != null">and `target` = #{target}</if>
            <if test="permit != null">and `permit` = #{permit}</if>
            <if test="sortValue != null">and `sort_value` = #{sortValue}</if>
            <if test="opened != null">and `opened` = #{opened}</if>
            <if test="enabled != null">and `enabled` = #{enabled}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
    </select>

    <select id="menuIdList" resultType="java.lang.Integer">
        select `menu_id` from `menu`
        <where>
            <if test="menuId != null">and `menu_id` = #{menuId}</if>
            <if test="menuType != null">and `menu_type` = #{menuType}</if>
            <if test="menuName != null">and `menu_name` = #{menuName}</if>
            <if test="menuIcon != null">and `menu_icon` = #{menuIcon}</if>
            <if test="menuDesc != null">and `menu_desc` = #{menuDesc}</if>
            <if test="href != null">and `href` = #{href}</if>
            <if test="target != null">and `target` = #{target}</if>
            <if test="permit != null">and `permit` = #{permit}</if>
            <if test="sortValue != null">and `sort_value` = #{sortValue}</if>
            <if test="opened != null">and `opened` = #{opened}</if>
            <if test="enabled != null">and `enabled` = #{enabled}</if>
            <if test="createTime != null">and `create_time` = #{createTime}</if>
            <if test="editTime != null">and `edit_time` = #{editTime}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
    </select>
</mapper>
