<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fleet.provider.admin.dao.RoleMenuDao">
    <resultMap id="BaseResultMap" type="com.fleet.common.entity.role.RoleMenu">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="menu_id" property="menuId"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <resultMap id="MenuResultMap" type="com.fleet.common.entity.menu.Menu">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="desc" property="desc"/>
        <result column="href" property="href"/>
        <result column="target" property="target"/>
        <result column="permit" property="permit"/>
        <result column="sort" property="sort"/>
        <result column="opened" property="opened"/>
        <result column="enabled" property="enabled"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="editor_id" property="editorId"/>
        <result column="edit_time" property="editTime"/>
        <result column="upper_id" property="upperId"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
		`id`, `role_id`, `menu_id`, `deleted`
	</sql>

    <insert id="insert" parameterType="com.fleet.common.entity.role.RoleMenu" useGeneratedKeys="true" keyProperty="id">
        insert into `role_menu` (
        <trim suffixOverrides=",">
            <if test="roleId != null">`role_id`,</if>
            <if test="menuId != null">`menu_id`,</if>
            <if test="deleted != null">`deleted`,</if>
        </trim>
        ) values (
        <trim suffixOverrides=",">
            <if test="roleId != null">#{roleId},</if>
            <if test="menuId != null">#{menuId},</if>
            <if test="deleted != null">#{deleted},</if>
        </trim>
        )
    </insert>

    <update id="delete" parameterType="com.fleet.common.entity.role.RoleMenu">
        update `role_menu` set `deleted` = 1
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="roleId != null">and `role_id` = #{roleId}</if>
            <if test="menuId != null">and `menu_id` = #{menuId}</if>
        </where>
    </update>

    <update id="deletes">
        update `role_menu` set `deleted` = 1
        <where>
            <foreach collection="array" item="id" open="`id` in (" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>

    <update id="update" parameterType="com.fleet.common.entity.role.RoleMenu">
        update `role_menu`
        <set>
            <if test="roleId != null">`role_id` = #{roleId},</if>
            <if test="menuId != null">`menu_id` = #{menuId},</if>
            <if test="deleted != null">`deleted` = #{deleted},</if>
        </set>
        where id = #{id}
    </update>

    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `role_menu`
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="roleId != null">and `role_id` = #{roleId}</if>
            <if test="menuId != null">and `menu_id` = #{menuId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
        limit 1
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `role_menu`
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="roleId != null">and `role_id` = #{roleId}</if>
            <if test="menuId != null">and `menu_id` = #{menuId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
    </select>

    <select id="idList" resultType="java.lang.Integer">
        select `id` from `role_menu`
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="roleId != null">and `role_id` = #{roleId}</if>
            <if test="menuId != null">and `menu_id` = #{menuId}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
    </select>

    <select id="menuList" parameterType="java.lang.Integer" resultMap="MenuResultMap">
		select m.`id`, m.`type`, m.`name`, m.`icon`, m.`desc`, m.`href`, m.`target`, m.`permit`, m.`sort`, m.`opened`, m.`enabled`, m.`creator_id`, m.`create_time`, m.`editor_id`, m.`edit_time`, m.`upper_id`, m.`deleted`
		from `menu` as m
		left join `role_menu` as rm on rm.menu_id = m.id
		where m.deleted = 0 and m.enabled = 1 and (m.`type` = 1 or m.`type` = 2) and ((rm.role_id = #{roleId} and rm.deleted = 0) or m.opened = 1)
	</select>

    <select id="permitList" parameterType="java.lang.Integer" resultType="java.lang.String">
		select m.`permit`
		from `menu` as m
		left join `role_menu` as rm on rm.menu_id = m.id
		where m.deleted = 0 and m.enabled = 1 and m.`type` = 3 and rm.role_id = #{roleId} and rm.deleted = 0 and m.`permit` is not null and m.`permit` != ""
	</select>
</mapper>
