<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fleet.provider.admin.dao.UserDeptDao">
    <resultMap id="BaseResultMap" type="com.fleet.common.entity.user.UserDept">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="dept_id" property="userId"/>
        <result column="identity" property="identity"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <resultMap id="DeptResultMap" type="com.fleet.common.entity.dept.Dept">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="state" property="state"/>
        <result column="sort" property="sort"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="editor_id" property="editorId"/>
        <result column="edit_time" property="editTime"/>
        <result column="upper_id" property="upperId"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
		`id`, `user_id`, `dept_id`, `identity`, `deleted`
	</sql>

    <insert id="insert" parameterType="com.fleet.common.entity.user.UserDept" useGeneratedKeys="true" keyProperty="id">
        insert into `user_dept` (
        <trim suffixOverrides=",">
            <if test="userId != null">`user_id`,</if>
            <if test="deptId != null">`dept_id`,</if>
            <if test="identity != null">`identity`,</if>
            <if test="deleted != null">`deleted`,</if>
        </trim>
        ) values (
        <trim suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="identity != null">#{identity},</if>
            <if test="deleted != null">#{deleted},</if>
        </trim>
        )
    </insert>

    <update id="delete" parameterType="com.fleet.common.entity.user.UserDept">
        update `user_dept` set `deleted` = 1
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="userId != null">and `user_id` = #{userId}</if>
            <if test="deptId != null">and `dept_id` = #{deptId}</if>
            <if test="identity != null">and `identity` = #{identity}</if>
            and `deleted` = 0
        </where>
    </update>

    <update id="deletes">
        update `user_dept` set `deleted` = 1
        <where>
            <foreach collection="array" item="id" open="`id` in (" separator="," close=")">
                #{id}
            </foreach>
            and `deleted` = 0
        </where>
    </update>

    <update id="update" parameterType="com.fleet.common.entity.user.UserDept">
        update `user_dept`
        <set>
            <if test="id != null">and `id` = #{id}</if>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="deptId != null">`dept_id` = #{deptId},</if>
            <if test="identity != null">`identity` = #{identity},</if>
            <if test="deleted != null">`deleted` = #{deleted},</if>
        </set>
        where id = #{id}
    </update>

    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user_dept`
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="userId != null">and `user_id` = #{userId}</if>
            <if test="deptId != null">and `dept_id` = #{deptId}</if>
            <if test="identity != null">and `identity` = #{identity}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
        limit 1
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user_dept`
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="userId != null">and `user_id` = #{userId}</if>
            <if test="deptId != null">and `dept_id` = #{deptId}</if>
            <if test="identity != null">and `identity` = #{identity}</if>
            <if test="deleted != null">and `deleted` = #{deleted}</if>
            <if test="deleted == null">and `deleted` = 0</if>
        </where>
    </select>
</mapper>

